<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NguyenTrongDuy_2201130001.Properties.Settings.D__UNIVERSITY_DOANKHOALUANTOTNGHIEP_PHANMEM_SLT_QL_KARAOKE_NGUYENTRONGDUY_2201130001_BIN_DEBUG_QLQUANKARAOKE_DATA_MDFConnectionString"
            connectionString="Data Source=DESKTOP-CPMAR3K;Initial Catalog=D:\UNIVERSITY\DOANKHOALUANTOTNGHIEP\PHANMEM\SLT_QL_KARAOKE\NGUYENTRONGDUY_2201130001\BIN\DEBUG\QLQUANKARAOKE_DATA.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
